.small-tag {
  height: 16px;
  padding: 4px 8px;
}

.big-tag {
  display: flex;
  align-items: center;
  height: 40px;
  width: 88%;
  padding: 0 10px;
  margin: 4px;

  &:hover {
    border-left: rgba(0, 0, 0, 0.219) 6px solid;
  }
}

.big-tag, .small-tag {
  border-radius: 8px;
  color: var(--lighter-grey);
  font-weight: bold;
}