.nav-input {
  background: var(--grey-fade);
  border-radius: 5px;
  width: 160px;
  height: 28px;
  cursor: pointer;
  border: none;

  &:hover, &:focus {
    outline: none;
    background-color: var(--grey);
  }
}

.icon {
  color: var(--grey-fade);
  margin-left: 4px;
}