.button-container {
  height: 50%;
  width: 100%;

  & button[popovertarget="add-tag"] {
    anchor-name: --tags;
  }
}

.h3 {
  margin-left: 4px;
  font-size: 0.8rem;
  color: var(--grey);
}

dialog {
  margin: 0 0 0 12px;
  display: flex;
  flex-direction: column;
  position: fixed;
  position-anchor: --tags;
  left: anchor(right);
  top: anchor(0%);
  width: 140px;
  gap: 8px;
  text-align: left;
  padding: 8px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 0px 8px var(--dark-grey);
  opacity: 0;

  &:popover-open {
    opacity: 1;

    @starting-style {
        opacity: 0;
    }
}
}
