:root {
  /* Font weights */
  --light:400;
  --medium: 500;
  --bold: 700;

  /* Colors */
  --black-transparent: #00000036;
  --lighter-grey: #f4f5f7;
  --light-grey: #dfe1e6;
  --grey: #818181;
  --grey-fade: #818181ad;
  --dark-grey: #505e74;
  --white: #fafafa;
  --green: #5aac44;
  --dark-green: #4c863c;

  --tag-f: #ff8718;
  --tag-m: #03882c;
  --tag-des: #0079bf;
  --tag-di: #dfc534;
  --tag-b: #e53935;
} 