.card {
  background: var(--white);
  border-radius: 4px;
  padding: 8px;
  height: 75px;
  box-shadow: 0px 0px 4px var(--dark-grey);
  color: var(--grey);
  cursor: pointer;

  & .card-title,
  & .card-text {
    margin: 4px 0;
  }

  & .card-title {
    font-size: 1rem;
    font-weight: var(--medium);
  }

  & .card-text {
    font-size: 0.7rem;
    font-weight: 300;
  }

  & .tags {
    display: flex;
    font-size: 0.7rem;
    gap: 8px;
  }
}