.modal, .modal-content {
  display: flex;
}

.modal {
  overflow: auto;
  position: fixed;
  height: 600px;
  width: 700px;
  background-color: var(--lighter-grey);
  top: 80px;
  left: 20%;
  border-radius: 5px;
  box-shadow: 0 0 4px var(--dark-grey);
  padding:20px 0;
  scrollbar-width: none;
}

.modal-content {
  flex-direction: column;
}

.card-title {
  color: var(--dark-grey);
  margin: 0 0 20px 40px;
}