.modal-description {
  height: 200px;
  width: 100%;

  & textarea {
    background-color: var(--light-grey);
  }

  & .icon {
    top: 16px;
  }

  & .green-button {
    margin-left: 40px;
  }
}

.icon {
  height: 16px;
  margin-right: 8px;
} 