.add-column {
  width: 250px;
  height: 75px;
  border-radius: 4px;
  background-color: var(--light-grey);
  padding: 4px;
  margin: 6px;
  color: #637188;
  font-weight: var(--bold);

  & .input {
    margin-left: 4px;
    padding: 0px 4px;
  }

  & .green-button {
    margin: 4px;
  }
}

.add-column-buttons {
  display: flex;
}
