.add-card, textarea {
  border-radius: 4px;
  border: none;
}
.add-card, .add-card-buttons {
  display: flex;
}

.add-card {
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 5px 5px 5px;
  color: #637188;
  font-weight: var(--medium);
}

.card-p {
  margin-left: 8px;
}

textarea {
  overflow: hidden;
  overflow-wrap: break-word;
  font-family: inherit;
  resize: none;
  outline: none;
  overflow-y: auto;
  box-shadow: 0px 0px 2px #494949a4;
  min-height: 50px;
  margin-bottom: 4px;
  padding: 8px;
  width: 100%;
  height: auto;
  color: var(--dark-grey);
}

.add-card-buttons {
  margin-bottom: 8px;
}
